// =======================
// Global
// =======================
#site_container {position: relative; height: 100%; overflow-x: hidden;}

#main_content { padding: 20px 20px; max-width: 1000px; margin: 0 auto;}

#overlay {
    background: rgba(255, 255, 255, 0.8); position: fixed; width: 100%; height: 100%; z-index: 999; visibility: hidden; opacity: 0; @include prefix-auto(transition, .25s);
    &.active { visibility: visible; opacity: 1; }
}

.layout_block { @extend %layout_block }

// =======================
// Header
// =======================
#header { @extend %layout_container; position: relative; padding: 5px 20px; background: $color-background-light-2; background: linear-gradient(to right,$color-background-light-1, $color-background-light-2 )$color-background-light-2; font-size: 0; box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }

#logo { @extend %layout_block; max-width: 200px; }

#mobile_nav_show {
    @extend %layout_block; position: absolute; top: 15px; right: 20px; display: block; width: 30px; height: 30px; padding-top: 15px;
    span, span:before, span:after { display: block; width: 30px; height: 3px; background: rgba(0, 0, 0, 0.5); }
    span:before { content: ''; @include prefix-auto(transform, translateY(-6px)); }
    span:after { content: ''; @include prefix-auto(transform, translateY(3px)); }
}

// =======================
// Main Nav
// =======================
#main_nav {
    position: absolute; z-index: 999; width: calc(100% - 25px); max-width: 350px; min-height: 100%; background: $color-background-white; top: 0; right: -100%; box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2); @include prefix-auto(transition, .5s);
    &.active { right: 0;}
}

#mobile_nav_close {
    display: block; height: 40px; padding: 20px 0 0 15px;
    span { @include prefix-auto(transform, rotate(45deg)); }
    span, span:before { display: block; width: 15px; height: 2px; background: $color-text; }
    span:before { content: ''; @include prefix-auto(transform, rotate(-90deg)); }
}

.nav_lvl_1 {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    > li { border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    > li > a { display: block; padding: 15px; font-size: 16px; @include prefix-auto(background, linear-gradient($color-background-white, $color-background-light-1)); }
    > li.active {
        > a { background: $color-background-white; color: $color-text-dark; }
    }
}

.nav_lvl_2 {
    display: none; background: $color-background-light-1;
    &.active { display: block; }
    li { background: $color-background-light-1; border-top: 1px solid rgba(0, 0, 0, 0.1); }
    li.active a { color: $color-text-dark; background: rgba(255, 255, 255, 0.8); }
    a { display: block; padding: 15px 30px; color: $color-text; }
}

// =======================
// Page - Dashboard - Business Overview
// =======================
#business_overview_container { @extend %layout_container;}

// -----------------------
// Add new program button
// -----------------------
#add_new_program {
    margin-bottom: 20px;
    a { @extend %layout_block; max-width: 150px; @include prefix-auto(background, linear-gradient($color-button-1, $color-button-2)); color: $white; border-radius: 5px; font-size: 0; border: 1px solid rgba(0, 0, 0, 0.2); text-align: center; box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.5); padding: 10px; }
    i {
        display: inline-block; vertical-align: middle; padding-right: 10px;
        & span, & span:after { display: block; width: 20px; height: 5px; background: $color-background-white; }
        & span:after { content: ''; @include prefix-auto(transform, rotate(90deg)); }
    }
    a > span { display: inline-block; vertical-align: middle; font-size: 14px; }
}

// -----------------------
// Program items
// -----------------------
#program_items_container_block { @extend %layout_container; padding-bottom: 20px; }

.program_item_block {
    @extend %layout_block;
    padding-bottom: 20px;
}

.program_item_block_inner {background: $color-background-white; box-shadow: 0 2px 2px rgba(0,0,0,0.1); border-radius: 5px;}

.feature_panel_header_group {
    padding: 20px 20px 10px 20px; position: relative;
    h2 { font-size: 16px; font-weight: 700; color: $color-text-dark; margin-bottom: 15px; }
    h3 { font-size: 11px; color: $color-text-light; }
    a { position: absolute; top: 20px; right: 20px; display: block; padding: 3px; background: $color-background-light-1; border: 1px solid rgba(0, 0, 0, 0.05); border-radius: 3px;
        span { display: block; width: 18px; height: 17px; background: url('#{$path-img}/pencil_icons.png') no-repeat; background-position: 0 -17px;}
        &:hover span {background-position: 0 0;}
    }
}

.sales_detail_graph {padding: 0 20px 10px 20px;}

.sales_details_overview {
    @extend %layout_container;
    background: $color-background-light-4; border-top: 1px solid rgba(0, 0, 0, 0.05); border-bottom: 1px solid rgba(0, 0, 0, 0.05); padding: 10px 15px 2px 15px; font-size: 0;
    .layout_column {
        @extend %layout_block; width: (30%);
        &:first-of-type {width: 40%};
        span, strong { display: block; font-size: 10px; color: $color-text-light; line-height: 1.5; }
        strong {color: $color-text-dark; font-weight: 400; font-size: 12px;}
        span.centered { text-align: center; }
        .chart img {display: inline-block;}
    }
}

.sales_details_itemized {
    > a { display: block; padding: 15px; font-size: 11px; color: $color-text-light; }
    .chart{background: url('#{$path-img}spark_lines.png') no-repeat center top; height: 20px;}
}

.sales_details_itemized_inner {
    display: none; padding: 10px 15px 0 15px;
    ul { @extend %layout_container; }
    li {
        @extend %layout_block; width: 30%; padding-right: 3px; font-size: 11px; color: $color-text-light; line-height: 2;
        &:first-of-type {width: 40%;}
        &.centered { text-align: center; }
        span { display: block; white-space: nowrap; color: $color-text-dark; overflow: hidden; text-overflow: ellipsis; }
    }
}

// -----------------------
// Program Summary Details
// -----------------------
#program_summary_details {
    margin-bottom: 30px;
    li { width: calc(100% / 3); max-width: 125px; }
}

#program_summary_header {
    @extend %layout_container; color: $color-text-light; border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding-bottom: 8px;
    li { @extend %layout_block; font-size: 11px; vertical-align: bottom; }
    li.large { font-size: 14px; }
}

.program_summary_item {
    padding: 15px 0 0 0; color: $color-text-dark;
    &:first-of-type {padding-top: 20px;}
    ul { @extend %layout_container;}
    li { @extend %layout_block; }
    a { display: block; padding: 5px; @include prefix-auto(transform, translate(-5px)); color: $color-text-light; font-size: 11px; }
    small { font-size: 9px; }
}

.program_summary_details {
    display: none; color: $color-text-light; padding-top: 10px;
    li {font-size: 11px; line-height: 2;}
}

// =======================
// New Program Form
// =======================
#new_program_form {
    position: absolute; z-index: 999; width: calc(100% - 25px); max-width: 350px; min-height: 100%; background: $color-background-light-3; top: 0; left: -100%; box-shadow: 1px 0 1px rgba(0, 0, 0, 0.2); @include prefix-auto(transition, .5s); padding: 20px;
    &.active { left: 0; }
    h2 { text-transform: uppercase; font-size: 16px; color: $color-text-dark; border-bottom: 1px solid rgba(0, 0, 0, 0.1); padding-bottom: 10px; }
    form { padding-top: 10px; }
    button {width: 100%;}
    button + a {margin: 10px 0;}
}


