%content_panel {background: $color-background-white; box-shadow: 0 2px 2px rgba(0,0,0,0.1); border-radius: 5px;}

%layout_container {font-size: 0;}

%layout_block {display: inline-block; vertical-align: top;  width: 100%; font-size: $base-font-size;}