#header, #business_overview_container, #program_items_container_block, .sales_details_overview, .sales_details_itemized_inner ul, #program_summary_header, .program_summary_item ul {
  font-size: 0; }

.layout_block, #logo, #mobile_nav_show, #add_new_program a, .program_item_block, .sales_details_overview .layout_column, .sales_details_itemized_inner li, #program_summary_header li, .program_summary_item li {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  font-size: 14px; }

.btn.transparent, button, .btn {
  background: #879a6e;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  display: block;
  padding: 10px;
  font-size: 14px;
  font-weight: 700;
  text-align: center; }

.btn.transparent {
  background: rgba(0, 0, 0, 0.1);
  font-weight: 400;
  color: #767676; }

@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/font-awesome/fontawesome-webfont.eot");
  src: url("../fonts/font-awesome/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/font-awesome/fontawesome-webfont.woff2") format("woff2"), url("../fonts/font-awesome/fontawesome-webfont.woff") format("woff"), url("../fonts/font-awesome/fontawesome-webfont.ttf") format("truetype"); }

/* ------------------ Resets ------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html, body {
  height: 100%; }

body {
  font-size: 14px;
  font-family: "Tahoma", Arial, sans-serif;
  line-height: 1;
  color: #767676;
  background: #f2f2eb;
  -webkit-text-size-adjust: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

a {
  color: #7a9281;
  text-decoration: none; }

ul, ol {
  list-style-type: none; }

img {
  border: none;
  max-width: 100%; }

:focus {
  outline: none; }

::selection {
  background: #767676; }

select, input {
  color: #767676;
  font-family: "Tahoma", Arial, sans-serif;
  font-size: 14px;
  background: #ffffff;
  border: none; }

b, strong {
  font-weight: 700; }

input[type="text"], input[type="password"], input[type="email"] {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  color: #767676;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px; }

select {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 100%;
  font-size: 14px;
  padding: 10px;
  height: 41px;
  color: #767676;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #ffffff url("../img/select_arrows.png") no-repeat right 50%;
  background-size: 30px 20px; }

input[type="checkbox"] {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  outline: 0;
  border: 2px solid rgba(0, 0, 0, 0.5);
  background: transparent;
  border-radius: 5px;
  margin-right: 10px;
  vertical-align: middle; }

input[type="checkbox"]:checked {
  background: #879a6e;
  border-color: #879a6e; }

input[type="checkbox"]:checked:after {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 7px);
  content: '\f00c';
  font-family: "FontAwesome";
  display: block;
  color: #ffffff; }

input[type="radio"] {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  outline: 0;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  vertical-align: middle; }

input[type="radio"]:checked {
  box-shadow: inset 0 0 0 7px #767676;
  outline: 0;
  border: none; }

textarea {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  width: 100%;
  resize: none;
  min-height: 100px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 10px;
  font-size: 14px;
  color: #767676; }

.form_element {
  padding: 0 0 12px 0; }
  .form_element label {
    padding-bottom: 5px;
    font-size: 12px;
    font-weight: 700;
    display: block; }
  .form_element select.placeholder {
    color: #a8a8a8; }

.form_multiselect {
  width: 100%;
  font-size: 14px;
  color: #767676;
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: #ffffff;
  overflow: hidden; }
  .form_multiselect span {
    display: block;
    padding: 12px 10px;
    background: url("../img/select_arrows.png") no-repeat right 50%;
    background-size: 30px 20px; }
  .form_multiselect ul {
    display: none;
    padding: 10px; }
  .form_multiselect li {
    padding-bottom: 10px; }
    .form_multiselect li label {
      display: inline-block;
      vertical-align: middle;
      font-weight: 700; }
  .form_multiselect a {
    margin: 0 10px 10px 10px; }
  .form_multiselect.placeholder span {
    color: #a8a8a8; }
  .form_multiselect.active ul {
    display: block; }

#site_container {
  position: relative;
  height: 100%;
  overflow: hidden; }

#main_content {
  padding: 20px 20px;
  max-width: 1000px;
  margin: 0 auto; }

#overlay {
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.25s;
  -ms-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s; }
  #overlay.active {
    visibility: visible;
    opacity: 1; }

#header {
  position: relative;
  padding: 5px 20px;
  background: #e7eeed;
  background: linear-gradient(to right, #eff1f1, #e7eeed) #e7eeed;
  font-size: 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1); }

#logo {
  max-width: 200px; }

#mobile_nav_show {
  position: absolute;
  top: 30px;
  right: 20px;
  width: 30px;
  height: 30px; }
  #mobile_nav_show span, #mobile_nav_show span:before, #mobile_nav_show span:after {
    display: block;
    width: 30px;
    height: 3px;
    background: rgba(0, 0, 0, 0.5); }
  #mobile_nav_show span:before {
    content: '';
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    -moz-transform: translateY(-6px);
    -o-transform: translateY(-6px);
    transform: translateY(-6px); }
  #mobile_nav_show span:after {
    content: '';
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px); }

#main_nav {
  position: absolute;
  z-index: 999;
  width: calc(100% - 25px);
  max-width: 350px;
  min-height: 100%;
  background: #ffffff;
  top: 0;
  right: -100%;
  box-shadow: -1px 0 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  #main_nav.active {
    right: 0; }

#mobile_nav_close {
  display: block;
  height: 40px;
  padding: 20px 0 0 15px; }
  #mobile_nav_close span {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  #mobile_nav_close span, #mobile_nav_close span:before {
    display: block;
    width: 15px;
    height: 2px;
    background: #767676; }
  #mobile_nav_close span:before {
    content: '';
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg); }

.nav_lvl_1 {
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .nav_lvl_1 > li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .nav_lvl_1 > li > a {
    display: block;
    padding: 15px;
    font-size: 16px;
    -webkit-background: linear-gradient(#ffffff, #eff1f1);
    -ms-background: linear-gradient(#ffffff, #eff1f1);
    -moz-background: linear-gradient(#ffffff, #eff1f1);
    -o-background: linear-gradient(#ffffff, #eff1f1);
    background: linear-gradient(#ffffff, #eff1f1); }
  .nav_lvl_1 > li.active > a {
    background: #ffffff;
    color: #4e4e44; }

.nav_lvl_2 {
  display: none;
  background: #eff1f1; }
  .nav_lvl_2.active {
    display: block; }
  .nav_lvl_2 li {
    background: #eff1f1;
    border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .nav_lvl_2 li.active a {
    color: #4e4e44;
    background: rgba(255, 255, 255, 0.8); }
  .nav_lvl_2 a {
    display: block;
    padding: 15px 30px;
    color: #767676; }

#add_new_program {
  margin-bottom: 20px; }
  #add_new_program a {
    max-width: 150px;
    -webkit-background: linear-gradient(#c3d4a0, #a5bb86);
    -ms-background: linear-gradient(#c3d4a0, #a5bb86);
    -moz-background: linear-gradient(#c3d4a0, #a5bb86);
    -o-background: linear-gradient(#c3d4a0, #a5bb86);
    background: linear-gradient(#c3d4a0, #a5bb86);
    color: #ffffff;
    border-radius: 5px;
    font-size: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.5);
    padding: 10px; }
  #add_new_program i {
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px; }
    #add_new_program i span, #add_new_program i span:after {
      display: block;
      width: 20px;
      height: 5px;
      background: #ffffff; }
    #add_new_program i span:after {
      content: '';
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
  #add_new_program a > span {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px; }

#program_items_container_block {
  padding-bottom: 20px; }

.program_item_block {
  padding-bottom: 20px; }

.program_item_block_inner {
  background: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px; }

.feature_panel_header_group {
  padding: 20px;
  position: relative; }
  .feature_panel_header_group h2 {
    font-size: 16px;
    font-weight: 700;
    color: #4e4e44;
    margin-bottom: 15px; }
  .feature_panel_header_group h3 {
    font-size: 11px;
    color: #a6a58f; }
  .feature_panel_header_group a {
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    padding: 3px;
    background: #eff1f1;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 3px; }
    .feature_panel_header_group a span {
      display: block;
      width: 18px;
      height: 17px;
      background: url("../img//pencil_icons.png") no-repeat;
      background-position: 0 -17px; }
    .feature_panel_header_group a:hover span {
      background-position: 0 0; }

.sales_details_overview {
  background: #f2f2eb;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px 15px;
  font-size: 0; }
  .sales_details_overview .layout_column {
    width: 30%; }
    .sales_details_overview .layout_column:first-of-type {
      width: 40%; }
    .sales_details_overview .layout_column span, .sales_details_overview .layout_column strong {
      display: block;
      font-size: 10px;
      color: #a6a58f;
      line-height: 1.5; }
    .sales_details_overview .layout_column strong {
      color: #4e4e44;
      font-weight: 400;
      font-size: 12px; }
    .sales_details_overview .layout_column span.centered {
      text-align: center; }

.sales_details_itemized > a {
  display: block;
  padding: 15px;
  font-size: 11px;
  color: #a6a58f; }

.sales_details_itemized_inner {
  display: none;
  padding: 10px 15px 0 15px; }
  .sales_details_itemized_inner li {
    width: 30%;
    padding-right: 3px;
    font-size: 11px;
    color: #a6a58f;
    line-height: 2; }
    .sales_details_itemized_inner li:first-of-type {
      width: 40%; }
    .sales_details_itemized_inner li.centered {
      text-align: center; }
    .sales_details_itemized_inner li span {
      display: block;
      white-space: nowrap;
      color: #4e4e44;
      overflow: hidden;
      text-overflow: ellipsis; }

#program_summary_details {
  margin-bottom: 30px; }
  #program_summary_details li {
    width: calc(100% / 3);
    max-width: 125px; }

#program_summary_header {
  color: #a6a58f;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 8px; }
  #program_summary_header li {
    font-size: 11px;
    vertical-align: bottom; }
  #program_summary_header li.large {
    font-size: 14px; }

.program_summary_item {
  padding: 15px 0 0 0;
  color: #4e4e44; }
  .program_summary_item:first-of-type {
    padding-top: 20px; }
  .program_summary_item a {
    display: block;
    padding: 5px;
    -webkit-transform: translate(-5px);
    -ms-transform: translate(-5px);
    -moz-transform: translate(-5px);
    -o-transform: translate(-5px);
    transform: translate(-5px);
    color: #a6a58f;
    font-size: 11px; }
  .program_summary_item small {
    font-size: 9px; }

.program_summary_details {
  display: none;
  color: #a6a58f;
  padding-top: 10px; }
  .program_summary_details li {
    font-size: 11px;
    line-height: 2; }

#new_program_form {
  position: absolute;
  z-index: 999;
  width: calc(100% - 25px);
  max-width: 350px;
  min-height: 100%;
  background: #f6f6f6;
  top: 0;
  left: -100%;
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 20px; }
  #new_program_form.active {
    left: 0; }
  #new_program_form h2 {
    text-transform: uppercase;
    font-size: 16px;
    color: #4e4e44;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 10px; }
  #new_program_form form {
    padding-top: 10px; }
  #new_program_form button {
    width: 100%; }
  #new_program_form button + a {
    margin: 10px 0; }

@media (min-width: 700px) {
  #main_content {
    padding: 20px 20px 20px 0; }
  #business_overview_block_1 {
    padding-left: 20px; }
  .program_item_block {
    width: 50%;
    padding-left: 20px; }
  #program_summary_details {
    padding-left: 20px; } }

@media (min-width: 1100px) {
  #main_content {
    padding: 80px 0 20px 0; }
  #header {
    padding: 10px 20px;
    box-shadow: none; }
  #mobile_nav_show {
    display: none; }
  #main_nav {
    position: absolute;
    top: 27px;
    right: auto;
    z-index: 900;
    width: 100%;
    max-width: none;
    min-height: 0;
    background: transparent;
    box-shadow: none;
    font-size: 0;
    text-align: right; }
  #mobile_nav_close {
    display: none; }
  .nav_lvl_1 {
    border: none;
    position: relative;
    z-index: 100; }
    .nav_lvl_1 > li {
      border-bottom: none;
      display: inline-block; }
    .nav_lvl_1 > li > a {
      padding: 15px 25px;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-left: 1px solid #ffffff;
      border-right: 1px solid rgba(0, 0, 0, 0.05); }
    .nav_lvl_1 > li:first-of-type > a {
      border-radius: 5px 0 0 0;
      border-left: none; }
    .nav_lvl_1 > li.active > a {
      position: relative;
      top: -2px;
      border-radius: 5px 5px 0 0;
      border: 1px solid rgba(0, 0, 0, 0.2);
      border-bottom: none;
      height: 49px; }
    .nav_lvl_1:before {
      content: '';
      display: block;
      position: absolute;
      top: 46px;
      left: 0;
      width: 100%;
      height: 52px;
      background: #ffffff;
      border-top: red;
      border-bottom: green;
      border-top: 1px solid rgba(0, 0, 0, 0.2);
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2); }
  .nav_lvl_2 {
    position: absolute;
    width: 100%;
    top: 50px;
    left: 0;
    display: none;
    background: transparent;
    text-align: left;
    padding-left: 75px; }
    .nav_lvl_2.active {
      display: block; }
    .nav_lvl_2 li {
      display: inline-block;
      background: transparent;
      border: none;
      font-size: 16px; }
    .nav_lvl_2 li.active a {
      color: #4e4e44;
      background: transparent; }
    .nav_lvl_2 a {
      display: block;
      padding: 15px 25px;
      color: #767676; }
  #business_overview_block_1 {
    width: 125px;
    padding: 0; }
  #business_overview_block_2 {
    width: calc(100% - 125px); }
  #add_new_program {
    margin-bottom: 0; }
    #add_new_program a {
      max-width: 80px;
      background: none;
      color: #ffffff;
      border-radius: 5px;
      font-size: 0;
      border: none;
      text-align: center;
      box-shadow: none;
      padding: 0; }
    #add_new_program i {
      display: block;
      vertical-align: middle;
      -webkit-background: linear-gradient(#c3d4a0, #a5bb86);
      -ms-background: linear-gradient(#c3d4a0, #a5bb86);
      -moz-background: linear-gradient(#c3d4a0, #a5bb86);
      -o-background: linear-gradient(#c3d4a0, #a5bb86);
      background: linear-gradient(#c3d4a0, #a5bb86);
      color: #ffffff;
      border-radius: 5px;
      font-size: 0;
      border: 1px solid rgba(0, 0, 0, 0.2);
      text-align: center;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.5);
      padding: 30px 10px; }
      #add_new_program i span {
        display: inline-block; }
      #add_new_program i span, #add_new_program i span:after {
        width: 35px;
        height: 10px; }
    #add_new_program a > span {
      display: block;
      font-size: 12px;
      color: #4e4e44;
      padding: 5px 0; }
  .program_item_block {
    width: calc(100% / 3); }
  .feature_panel_header_group h2 {
    margin-bottom: 25px; } }

/*# sourceMappingURL=app.css.map */
